ion-toolbar:first-of-type {
  div {
    padding-left: 10px;
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 26px;
    }
  }
}

ion-img.logo-img {
  width: 80px;
  height: 50px;
}

ion-button {
  ion-icon {
    font-size: 28px;
  }

  &.notifications-btn {
    position: relative;

    ion-badge {
      position: absolute;
      top: 2px;
      right: 0;
      font-size: 10px;
      border-radius: 50px;
    }
  }

  &.menu-btn {
    color: var(--ion-color-primary);
  }
}

main.page-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

section:has(.header-text) {
  font-weight: bold;

  h1 {
    padding: 10px 0;
  }

  .header-text {
    color: #fff;
    background-color: #00578c;
    padding: 20px;

    h2 {
      margin: 0;
    }
  }
}

section.insurance-carriers-container {
  h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }

  section.insurance-carriers {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }

  .view-more {
    display: flex;
    justify-content: center;
    gap: 10px;

    a {
      color: var(--ion-color-dark);
      font-size: 14px;
      font-weight: bold;
    }
  }
}

section.banner {
  margin: 35px 15px;
}

section.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;

  ion-button {
    text-transform: none;
  }
}
